*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.form form{
    display: flex;
    flex-direction: column;
    margin-top: 22px;

}
.form input{
    width: 40vw;
    margin: 7px;
    height: 28px;
}
.form textarea{
    width: 40vw;
    margin-top:7px ;
    margin-left: 7px;
}
.form button{
    margin: 14px;
}
.form-left{
     max-width: 40vw;

}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: bisque;
    height: 57vh;
}
.contact img{
    width: 40vw;
    height: 50vh;
    margin-left: 52px;
    margin-top: 12px;
}

@media screen and (max-width:500px) {
    .footer{
        height: 57vh;
     
padding: 0;
    }

}

@media screen and (max-width:500px) {
    .contact img{
        width: 50vw;
height: 25vh;

    }
    .right2 input{
        display: none;
    }
    .right2 .btn{
        display: none;
    }
    form{
      height: 20vh;
  
    }
 
   .contact{
       height: 33vh;
     
   }

    
.footer{
    height: 57vh;
}
}
@media screen and (max-width:800px) and (min-width:700px)
{
    .contact img{
        width: 40vw;
        height: 40vh;
        margin-top: 170px;
    }
  
    .contact{
        height: 75vh;
    }
    .form form{
        margin-top: 170px;
    }
}

@media screen and (max-width:800px) and (min-width:700px)
{
    .right input{
        width: 180px;
    }
  
}

