*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top, #ebfffe 0%, #ece3e6 100%);
   opacity: 0.8;
}

.navigation{
    height: 74px;

display: flex;
justify-content: space-between;
align-items: center;
font-family: var(--font1);
/*background-color: rgb(243, 239, 239);*/
background-color: rgb(123, 162, 177);
color: white;
}
.left{
font-size: 22px;
display: flex;
margin-left: 20px;
}
.left ul{
    display: flex;
   align-items: center;
   margin: 0 77px;
   font-size: 18px;
   
}
.left ul li{
    list-style: none;
    margin: 2px 14px;
   font-family: var(font2);

}
.left ul li:hover {

font-weight: bolder;
}

.left ul li a{
    text-decoration: none;
    color: black;
}

.right{
width: 50%;
}
.right2{
    width: 50%;
}
.stock img{
    height: 55vh;
    width: 90vw;
   
}
.content{
    height: 240px;
  background-color: #f6f6f6;
  margin-top: 28px;
 
display: flex;

}
.content-left h1{
    margin-bottom: 30px;
}
.content-left{
font-family: var(--font2);

display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.content-left p{
    margin-left: 10px;
}
.content-right{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
height: 235px;
border-radius: 50%;
border: 2px solid black;

}
.homeblogs{

background-color: rgb(255, 243, 243);
margin-top: 26px;
border: 1px solid black;
}
.contentsection{
    display: flex;
}
.box{
    max-width: 20vw;
    background-color: 	#702963;
    color:white;
    margin: 12px;
    max-height: 52vh;
    border: 2px solid black;
}
.box h3{
    color:bisque ;
    text-align: center;
}
.box ul li{
    color: white;
}
.box ul li{
    margin-left:25px;
}
.box ul li a{
    color: white;
}
.homeblog
{
display: flex;
margin: 25px;
}
.homeblog img{
   width: 220px;
}
.homeblogs h2{
    margin-left: 14px;
    margin-top:6px ;
    text-align: center;
    font-size: 32px;
    color: rgb(211, 147, 147);
}
.blog-content
{
    align-self: center;
    padding: 25px;

}
.blog-content a{
    text-decoration: none;
    color: black;
}
.footer{
    
background-color: rgba(0, 0, 0, 0.911);

opacity: 0.9;
padding: 0 15px;
margin-top: 26px;

}

.footer a{
    color: white;
    text-decoration: none;
  font-family: var(--font1);
  font-weight: 600;
}
.container{
   max-width: 1170px;
    margin: auto;
}
.footer h4{
    color: white;
    font-size:20px;
    margin-bottom: 8px;
    font-family: var(--font2);
    position: relative;
   
}
.footer ul li{
    list-style: none;
    margin: 4px;
}
.footer ul li a:hover{
padding-left: 2px;
}
.social-links{
     margin-left: 20px
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.obj1 h5{
    text-align: center;
}
.container2 .owner1{
    background-color: rgb(251, 243, 234);

}
.footer-col{
    width: 19%;
    padding: 0 15px;
    margin-top: 12px;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
background-color: rgb(187, 6, 42);
height: 2px;
box-sizing: border-box;
width: 50px;
}

.social-links i{
    margin-right: 6px;
}

.social-links{
    display: flex;
flex-direction: column;
}
@media(max-width:500px)
{
.footer-col{
width: 50%;
   margin-bottom: 30px;
 
}

}

@media(max-width:767px)
{
.footer-col{
width: 40%;
   margin-bottom: 30px;

}
}

.recommend h2{
    text-align: center;
    margin: 22px 0;
    font-family: var(--font1);
}

.bd-example{
    border: 1px solid black;
}

.about h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: var(--font1);
}

.parts{
    display: flex;
    flex-direction: row;
justify-content: space-around;
}

  @media screen  and (max-width: 600px) {
      .navigation{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
      }
      .right{
display: flex;
justify-content: center;
flex-direction: row;
      }
      

  }

  @media screen and (max-width: 500px)
  {
      .content{
          max-width: 100%;
          height: 300px;
      }
      .content-right img{
          height: 150px;
      }
      .content h1{
font-size: 25px;

      }
      .content-left p{
          font-size: 12px;
          margin-left: 10px;
      }
      .content-left h1{
          margin-bottom: 0px;
      }

  }

  @media  screen and (max-width:500px) {
      .homeblogs img{
width: 100px;

      }
      .blog-content a h3{
       font-size: 8px;
       align-self: center;
      }
      .box p{
font-size: 8px;
      }
      .box h3{
          font-size: 15px;
      }
      .box{
          margin-right:4px;
      }
  }

  @media screen and (max-width:500px) {
    html,body{
        overflow-x: hidden;
    }
  }
  @media screen and (max-width:500px)
  {
      .navigation{
          display: flex;
          justify-content: space-around;
      }
      .left{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items:center

      }
    
      
  }

  @media screen and (max-width: 500px)
  {
      .carousel img{
height: 220px;
      }
  }

  @media screen and (max-width:500px)
  {
    .about .owner1{
    
        height: 50vh;


    }
   
     .owner1{
    display: flex;
    flex-direction: column;
    width: 100%;
 
}
.owner1 p{
    font-size: 12px;
}
.owner1 img{
    height: 20vh !important;
    width: 36vw !important;
}

}

@media screen and (min-width:700px) and (max-width:800px)
{
    .right input{
        width: 180px;
    }
}

@media screen and (max-width:500px){
  hr{
      display: none;
  }
  .navigation input{
      margin-top: 14px;
 margin-bottom: 14px;
    }
}

@media screen and (max-width:500px) {
   .navigation{
       height: 15vh;
   }
}