@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Roboto:ital,wght@0,500;1,300&display=swap');

:root{
    --main-bg-color:brown;
    --font1:'Baloo Bhai 2', cursi;
    --font2:'Roboto', sans-serif;
}


.max-width-1{
    max-width: 100vw;
}

.max-width-2{
max-width: 60vw;
}
.max-width-3{
    max-width:70vw ;
}
.m-auto{
    margin: auto;
}
.max-width-4{
max-width: 55vw;
}
.btn{
transition: all 0.3s ease-in-out;
}
.btn:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    
    /*background: var(--main-bg-color);*/
}
.form-input{
    padding: 0px 3px;

    font-size: 16px;
    border: 2px solid black;
    margin: 0px 7px;
    margin-top: 14px;
    font-family: var(--font1);
    border-radius: 17px;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.bg{
    background-color: rgba(234, 229, 229, 0.765);
}
/*.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: ">";
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}
*/

.owner1{
display: flex;
max-width: 40%;
border: 2px solid black;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconbar{
    position: fixed;
    top: 50%;
    transform:translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
z-index: 10;

}
.iconbar a{
text-decoration: none;
width: 166px;

color: #fff;
display: flex;
justify-content: flex-end;
align-items: center;
padding: 2px;
transform: translateX(-128px);
transition: all 0.3s linear;
-webkit-transform: translateX(-135px);
-ms-transform: translateX(-135px);
-webkit-transition: 0.3s linear;
-ms-transition: 0.3s linear;
}

.iconbar a i{
    padding-left:10px;
font-size: 25px !important;
animation: zoom 3s linear alternate-reverse infinite;

}
.iconbar a:hover{
    transform: translateX(1px);
color: white;
}
.facebook{
    background: #3b5999;

}
.linkedin{
background: #0A66C2;
}
.twitter{
background: #1DA1F2;
}
.youtube{
background: #CD201F;
}
.instagram{
    background: #e4405f;
}
@keyframes zoom{
    from{
transform: scale(0.8);
    }
    to{
transform: scale(1);
    }
}
